// VARIABLES COLOR
$color_rojo: #D10000;
$color_negro: #000;
$color_blanco: #FFF;
// VARIABLES TEXTO
$font_normal: 'Raleway', sans-serif;
$font_titulos: 'Audiowide', cursive;
html,
body {
    overflow-x: hidden;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

/* HEADER */

// boton menu movil
.navbar-toggler {
    padding: 0;
}

.hamburger {
    padding: 0;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background: $color_blanco;
}

// menu header

.contenedor_header {
    transition: all .5s;
}

.fondo_header_mostrar {
    transition: all .5s;
    background: $color_negro;
    border-bottom: 2px solid $color_rojo;
}

.navbar-brand {
    img {
        width: 200px;
        transition: all .5s;
    }
}

.logo_width {
    img {
        width: 35px;
        transition: all .5s;
    }
}


.navbar-nav {
    a {
        color: $color_blanco;
        margin: 0 10px;
        font-family: $font_normal;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 14px;
        transition: all .5s;
        &:hover {
            transition: all .5s;
            animation: menu_activo .5s alternate infinite;
        }
    }
    span {
        color: $color_blanco;
        margin-top: 5px;
    }
    .menu_activado {
        font-weight: 700;
        animation: menu_activo .5s alternate infinite;
    }
}

.dropdown-menu {
    border: none;
    border-radius: 0;
    background: rgba($color_negro, .9);
    .dropdown-item {
        font-size: 14px;
        padding: 5px 15px 5px 15px;
        &:hover {
            background: none;
            color: $color_rojo;
        }
    }
}




@keyframes menu_activo {
    to {
        transform: scale(1);
    }
    from {
        transform: scale(1.1);
        color: $color_rojo;
    }
}


@media (max-width: 991.98px) {
    .navbar-nav {
        background: rgba($color_negro, .9);
        padding: 10px 0 20px 0;
        a {
            text-align: center;
            border-bottom: 1px solid $color_rojo;
        }
    }
}

@media (max-width: 767.98px) {
    .navbar-brand {
        img {
            width: 100px;
            transition: all .5s;
        }
    }
    
    .logo_width {
        img {
            width: 35px;
            transition: all .5s;
        }
    }
}

/* SLIDE */
.slide_01 {
    li {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
}

.img_slide_01 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-caption {
    left: 0;
    top: 0;
    padding: 0 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titular_slider {
    font-family: $font_titulos;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 60px;
    margin-bottom: 10px;
    strong {
        color: $color_rojo;
        font-weight: 700;
        font-size: 90px;
    }
}

.texto_slider {
    font-family: $font_normal;
    font-size: 18px;
}

.flecha_abajo {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    top: 350px;
    left: 0;
    justify-content: center;
    align-items: center;
    img {
        width: 100px;
    }
    animation: rebotar .5s alternate infinite;
}

@keyframes rebotar {
    to {
        transform: translateY(10px);
    }
    from {
        transform: translateY(-10px);
    }
}

@media (max-width: 1600.98px) {
    .titular_slider {
        line-height: 0.9;
        font-size: 37px;
        margin-bottom: 10px;
        strong {
            font-size: 55px;
        }
    }
    
    .texto_slider {
        font-size: 15px;
    }

    .flecha_abajo {
        top: 250px;
        img {
            width: 100px;
        }
    }
}

@media (max-width: 1199.98px) {
    .titular_slider {
        line-height: 0.9;
        font-size: 27px;
        margin-bottom: 10px;
        strong {
            font-size: 40px;
        }
    }
    
    .texto_slider {
        font-size: 15px;
    }

    .flecha_abajo {
        top: 150px;
        img {
            width: 70px;
        }
    }
}

@media (max-width: 767.98px) {

    .carousel-caption {
        top: 30px;
    }

    .titular_slider {
        line-height: 0.9;
        font-size: 27px;
        margin-bottom: 10px;
        strong {
            font-size: 30px;
        }
    }
    
    .texto_slider {
        font-size: 14px;
    }

    .flecha_abajo {
        top: 150px;
        img {
            width: 50px;
        }
    }
}

/* ESPECIALISTAS */
.contenedor_especialistas {
    padding: 90px 20px;
}

.titulos_01 {
    font-family: $font_titulos;
    font-size: 35px;
    border-bottom: $color_rojo solid 3px;
    margin-bottom: 30px;
}

.texto_01 {
    font-family: $font_normal;
    color: $color_negro;
    strong {
        color: $color_rojo;
    }
}

.contenedor_informacion_especialistas {
    margin-top: 30px;
    width: 300px;
    text-align: center;
}

.img_especialistas {
    width: 150px;
}

.subtitulo_01 {
    font-family: $font_normal;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.texto_02 {
    font-family: $font_normal;
    font-size: 15px;
}

.boton_01 {
    position: relative;
    top: 10px;
    font-family: $font_normal;
    color:$color_negro;
    font-size: 15px;
    font-weight: 700;
    border: solid $color_rojo 2px;
    padding: 10px;
    transition: all .5s;
    &:hover {
        transition: all .5s;
        text-decoration: none;
        color: $color_blanco;
        background: $color_negro;
    }
}

.certificaciones_01 {
    height: 200px;
    margin: 20px;
}

@media (max-width: 767.98px) {
    .titulos_01 {
        font-size: 25px;
    } 
    .certificaciones_01 {
        height: 110px;
        margin: 20px;
    }
}

/* LLAMADA */
.contenedor_llamada {
    padding: 70px 20px;
    background: linear-gradient(270deg, $color_negro, $color_rojo);
    background-size: 200% 400%;

    animation: AnimationName 10s ease infinite;

    @keyframes AnimationName { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

.titulo_blanco {
    font-family: $font_titulos;
    color: $color_blanco;
    text-transform: uppercase;
    border-bottom: 3px solid $color_blanco;
    margin-bottom: 30px;
}

.texto_blanco {
    font-family: $font_normal;
    color: $color_blanco;
    font-size: 17px;
}

.boton_02 {
    position: relative;
    top: 10px;
    background: none;
    cursor: pointer;
    font-family: $font_normal;
    color:$color_blanco;
    font-size: 17px;
    font-weight: 700;
    border: solid $color_blanco 2px;
    padding: 10px;
    transition: all .5s;
    &:hover {
        transition: all .5s;
        text-decoration: none;
        color: $color_blanco;
        background: $color_negro;
    }
}

@media (max-width: 767.98px) {
    .titulo_blanco {
        font-size: 20px;
    }
}

/* Especialidades */
.contenedor_especialidades {
    padding: 70px 20px;
}

.contenido_especialidades {
    width: 250px;
    text-align: center;
}

.img_especialidades {
    width: 170px;
}

.titulo_especialidad {
    margin-top: 15px;
    font-family: $font_normal;
    color: $color_negro;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

/* Formulario */
.form-group {
    input, textarea {
        background: none;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid $color_blanco;
        font-family: $font_normal;
        &:focus {
            background: none;
        }
    }
    ::placeholder {
        color: $color_blanco;
    }
}

/* Footer */
.contenedor_footer {
    padding: 70px 20px;
}

.contenedor_logo_footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 200px;
    }
}

.titulo_footer {
    font-family: $font_titulos;
    text-transform: uppercase;
    color: $color_negro;
    border-bottom: $color_rojo 2px solid;
}

.contenedor_telefonos {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    a {
        color: $color_negro;
        font-family: $font_normal;
        margin: 5px 0;
        i {
            transition: all .3s;
            margin-right: 5px;
            color: $color_rojo;
        }
        &:hover {
            text-decoration: none;
            i {
                transition: all .3s;
                transform: rotate(360deg);
            }
        }
    }
}

.contenedor_blog {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.contenedor_post {
    border-bottom: 1px solid $color_rojo;
    margin-top: 5px;
}

.post_footer {
    font-family: $font_normal;
    font-size: 14px;
    color: $color_negro;
    transition: all .5s;
    &:hover {
        text-decoration: none;
        transition: all .5s;
        color: $color_rojo;
    }
}

/* Copy */
.contenedor_copy {
    background: $color_negro;
    color: $color_blanco;
    font-family: $font_normal;
    font-weight: 700;
    padding: 30px 20px;
    text-align: center;
    strong {
        color: $color_rojo;
    }
    a {
        color: $color_rojo;
        &:hover {
            text-decoration: none;
        }
    }
}

/* Nosotros */
.contenedor_secciones {
    height: 230px;
    background: $color_negro;
}

@media (max-width: 767.98px) {
    .contenedor_secciones {
        height: 130px;
    }
}


/* Servicios */
.img_servicios {
    height: 90px;
}

.contenedor_especialistas {
    background: rgba($color_negro, .03)
}

/* blog */
.contenedor_img_blog {
    width: 100%;
    height: 400px;
    border-right: solid 3px $color_rojo;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.titulos_blog {
    font-family: $font_titulos;
    text-transform: uppercase;
    color: $color_negro;
    border-bottom: 2px solid $color_rojo;
    margin-bottom: 20px;
}

.comentarios_noticas {
    border: solid $color_negro 3px;
    padding: 20px 30px;
    background: linear-gradient(270deg, $color_negro, $color_rojo);
    background-size: 200% 400%;

    animation: AnimationName 10s ease infinite;

    @keyframes AnimationName { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    textarea {
        max-height: 150px;
        min-height: 100px;
    }
}

@media (max-width: 991.98px) {
    .contenedor_img_blog {
        width: 100%;
        height: 400px;
        border: none;
        border-bottom: solid 3px $color_rojo;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}