@font-face {
  font-family: 'DINPro Black';
  font-style: normal;
  font-weight: normal;
  src: local("DINPro Black"), url("DINPro-Black.woff") format("woff"); }

@font-face {
  font-family: 'DINPro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("DINPro Bold"), url("DINPro-Bold.woff") format("woff"); }

@font-face {
  font-family: 'DINPro Light';
  font-style: normal;
  font-weight: normal;
  src: local("DINPro Light"), url("DINPro-Light.woff") format("woff"); }

@font-face {
  font-family: 'DINPro Medium';
  font-style: normal;
  font-weight: normal;
  src: local("DINPro Medium"), url("DINPro-Medium.woff") format("woff"); }

@font-face {
  font-family: 'DINPro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("DINPro Regular"), url("DINPro-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Interstate Bold Cond';
  font-style: normal;
  font-weight: normal;
  src: local("Interstate Bold Cond"), url("interstate-bold-cond-58b64162258ca.woff") format("woff"); }

@font-face {
  font-family: 'Interstate ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Interstate ExtraLight Italic"), url("interstate-extralight-italic-58b642045546b.woff") format("woff"); }

@font-face {
  font-family: 'Interstate Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Interstate Light Italic"), url("interstate-light-italic-58b64147957e5.woff") format("woff"); }

@font-face {
  font-family: 'Interstate Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Interstate Regular Italic"), url("interstate-regular-italic-58b641ecad88f.woff") format("woff"); }

@font-face {
  font-family: 'Interstate Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Interstate Thin Italic"), url("interstate-thin-italic-58b641b2d5a92.woff") format("woff"); }
